@media only screen and (max-width:991.9px){
    .choose {
  
        width: 100%;
         min-height: 1800px!important;
         margin-top: 201px;
         
    }
    .choose>.container {
        height: 590px;
        background:  #2C343E;
        margin: 0 auto;
       border-radius: 10px;
     
    }
    
    
    .choose__us {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    
    }
    .choose__sarlavha, .choose__paragraph {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
       
        
    }
    .choose__sarlavha {
    
       font-style: normal;
       font-weight: 900;
       font-size: 40px;
       line-height: 48px;
    padding-top: 100px;
       
       text-align: center;
       
       color: #FEFCF7;
    
    }
    .choose__paragraph {
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    
    
    text-align: center;
    
    color: #FEFCF7;
    
    mix-blend-mode: normal;
    opacity: 0.8;
    }
    
    .choose__card {
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
        margin-top: 86px;
        margin-bottom: 200px;
    }
    .choose__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    
    }
    .choose__item {
        width: 100%;
        max-width: 750px!important;
        height: 382px;
        list-style: none;
        background: #0E8784;
        border-radius: 7px;
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
       
      
    
    }
    .choose__img {
      width: 100%;
        max-width: 80px!important;
        height: 150px;
        padding-top: 72px;
        
        
    }
    
    .choose__card--sarlavha, .choose__card--paragraph {
        // width: 100%;
        max-width: 253px;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
       
    }
    .choose__card--sarlavha {
        font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    padding-top: 56px;
    }
    .choose__card--paragraph {
        font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    }
}

