@media only screen and (max-width:621px){
    /* main boshlandi */

.coffe__sarlavha {
    width: 100%;
    max-width: 150px;
    height: 48px;
    padding-top: 117px;
  
    color: white;
    font-style: normal;
font-weight: 900;
font-size: 40px!important;
line-height: 72px;
color: #FEFCF7;

}
.coffe__paragraph {
    width: 100%;
    max-width: 400px!important;
    height: 108px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
margin-top: 80px;
}


  

/* main qismi tugadi */
}



@media only screen and (max-width:562px){
    /* main boshlandi */
.main {
    margin-bottom: 136px;
}
.main>.container {
    height: 450px;
    background: url('/aboutimg/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}
.coffe {
    margin-left: 85px;
}
.coffe__sarlavha {
    width: 100%;
    max-width: 150px;
    height: 48px;
    padding-top: 117px;
  
    color: white;
    font-style: normal;
font-weight: 900;
font-size: 40px!important;
line-height: 72px;
color: #FEFCF7;

}
.coffe__paragraph {
    width: 100%;
    max-width: 365px!important;
    height: 108px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
margin-top: 80px;
}

.coffe__link {
    display: inline-block;
    width: 100%;
   max-width: 217px;
   margin-top: 120px;
    font-size: 20px;
    border: 1px solid #0E8784;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
      background: #0E8784;
      color: white;
      text-decoration: none;

}

/* main qismi tugadi */
}




@media only screen and (max-width:524px){
    /* main boshlandi */

.coffe__sarlavha {
    width: 100%;
    max-width: 150px;
    height: 48px;
    padding-top: 117px;
  
    color: white;
    font-style: normal;
font-weight: 900;
font-size: 40px!important;
line-height: 72px;
color: #FEFCF7;

}
.coffe__paragraph {
    width: 100%;
    max-width: 340px!important;
    height: 108px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
margin-top: 80px;
}

/* main qismi tugadi */
}




@media only screen and (max-width:500px){
    /* main boshlandi */
.main {
    margin-bottom: 136px;
}
.main>.container {
    height: 450px;
    background: url('/aboutimg/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}
.coffe {
    margin-left: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coffe__sarlavha {
    width: 100%;
    max-width: 150px;
    height: 48px;
    padding-top: 117px;
    color: white;
    font-style: normal;
font-weight: 900;
font-size: 40px!important;
line-height: 72px;
color: #FEFCF7;

}
.coffe__paragraph {
    width: 100%;
    max-width: 365px!important;
    height: 108px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
margin-top: 60px!important;
}

.coffe__link {
    display: inline-block;
    width: 100%;
   max-width: 217px;
   margin-top: 120px;
    font-size: 20px;
    border: 1px solid #0E8784;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
      background: #0E8784;
      color: white;
      text-decoration: none;

}

/* main qismi tugadi */
}



