@media only  screen and (max-width:991.9px){
    .collection {
        width: 100%;
        max-width: 1112px;
        margin: 0 auto;
        min-height: 925px;
        background-image: url('/img/Group13.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 50px;
      
    }
    .collection__ul {
        width: 100%;
        padding-top: 126px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .collection__item {
        list-style: none;
        width: 100%;
        max-width: 300px!important;
        display: flex;
        height: 380px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
  
    }
  
    .collection__item+.collection__item {
       
        margin-left: 0!important;
    }
    .collection__card {
        width: 100%;
        max-width: 300px!important;
        height: 193px;
    
        
    }
    .collection__malumot {
        width: 100%;
        max-width: 240px!important;
        height: 134px;
        margin-top: 20px!important;
        text-align: center;
        font-size: 20px;
    }
    .collection__sarlavha {
        text-align: center;
    }
    .collection__paragraph {
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    text-align: center;
    
    color: #333D4B;
    
    }
    
}  



@media only  screen and (min-width:978px) and (max-width:991.9px){
    .collection {
        width: 100%;
        max-width: 1112px;
        margin: 0 auto;
        min-height: 925px;
        background-image: url('/img/Group13.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 50px;
        
      
    }
    .collection__ul {
        width: 100%;
        padding-top: 126px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .collection__item {
        list-style: none;
        width: 100%;
        max-width: 320px!important;
        display: flex;
        height: 380px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
       
      
  
    }
  
    .collection__item+.collection__item {
       
        margin-left: 0!important;
    }
    .collection__card {
        width: 100%;
        max-width: 300px!important;
        height: 193px;
    
        
    }
    .collection__malumot {
        width: 100%;
        max-width: 240px!important;
        height: 134px;
        margin-top: 20px!important;
        text-align: center;
        font-size: 20px;
    }
    .collection__sarlavha {
        text-align: center;
    }
    .collection__paragraph {
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    text-align: center;
    
    color: #333D4B;
    
    }
    
} 




@media only  screen and (max-width:680px){
    .collection {
        width: 100%;
        max-width: 1112px;
        margin: 0 auto;
        min-height: 1800px;
        background-image: url('/img/Group13.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 50px;
      
    }
    .collection__ul {
        width: 100%;
        padding-top: 126px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .collection__item {
        list-style: none;
        width: 100%;
        max-width: 250px!important;
        display: flex;
        height: 380px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
  
    }
  
    .collection__item+.collection__item {
       
        margin-left: 0!important;
    }
    .collection__card {
        width: 100%;
        max-width: 200px!important;
        height: 193px;
    
        
    }
    .collection__malumot {
        width: 100%;
        max-width: 240px!important;
        height: 134px;
        margin-top: 20px!important;
        text-align: center;
        font-size: 18px;    
    }
    .collection__sarlavha {
        text-align: center;
        font-size:  25px;
    }
    .collection__paragraph {
        font-style: normal;
    font-weight: 400;

    line-height: 26px;
    text-align: center;
    text-align: center;
    color: #333D4B;
    
    }
    
} 