@media only screen and (max-width:768px) {
   
    .our>.container {
        display: flex;
        align-items: center;
    }
    .our__title {
        text-align: center;
        margin-bottom: 60px;
    }
    .our {
        min-height: 1580px;
    }
    .our__navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our__item+.our__item {
        margin-top: 100px;
    }
    .our__images {
        width: 100%;
        max-width: 100px;
    }
}


// 